.AwakeningBox {
	background-color: #282c34;
	padding: 4px;
	border: 2px solid #b7bcc8;
	border-radius: 2px;
}

.AwakeningGrid {
	margin: 0 !important;
}

.AwakeningColumn {
	margin: 4px 0 !important;
	padding: 0 !important;
}
