.LogicBox {
	background-color: #282c34;
        height: 100%;
	padding: 4px;
	border: 2px solid #b7bcc8;
	border-radius: 2px;
}

.LogicGrid {
	margin: 0 !important;
}

.LogicColumn {
	margin: 4px 0 !important;
	padding: 0 !important;
}

.LogicCheckbox {
	color: white !important;
}

p {
	margin-bottom: 2px !important;
}
