.Result {
    background-color: #282c34;
    padding: 2px;
    border: 2px solid #b7bcc8;
    border-radius: 2px;
    text-align: left;
}

.IconColumn {
}

.ResultName {
    color: white;
    font-size: calc(1vh + .5vw);
}

.ResultSegment {
    background-color: #282c34 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ResultItem {
    padding: 0 !important;
}

.MonsterIcon {
    margin: auto;
}

.TypeList {
    margin: auto;
}

.TypeIcon {
    width: calc(1vh + 1vw);
}

.AwakeningIcon {
    width: calc(1vh + 1vw);
}

.ResultListItem {
    padding: 0 0 5px 0 !important;
    margin: 10px 10px 5px 10px;
}
